<launch>
<!-- Convert xacro and put on parameter server -->
<param name="robot_description" command="$(find smart_box)/urdf/smarty.urdf" />

<!-- Spawn a robot into Gazebo -->
<node name="spawn_model" pkg="gazebo_ros" type="spawn_model" args="-param robot_description -urdf -model smarty" output="screen" />
</launch>
